<!DOCTYPE html>
<html>

<head>
  <title>users</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/users/register" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <button type="submit">Submit</button>
  </form>
</body>

</html>