<!DOCTYPE html>
<html>

<head>
  <title>User Data</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/users/login">Login</a>
  <a href="/users/register">Register</a>
</body>

</html>