<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>
  <% if(user.isAdmin){ %>
  <a href="/products/<%= user.id %>/add">
    <h3>Add products</h3>
  </a>
  <% } %>
  <a href="/products/<%= user.id %>/all">
    <h3>List products</h3>
  </a>
  <a href="/logout">Logout</a>

</body>

</html>