<%- include('partials/header.ejs') %>
<main>
  <section class="home">


    <h2 class="punch">World's Most Loved Blogging Website</h2>
    <a href="/users/login"><button>
        Login
      </button></a>
    <a href="/users/register"><button>
        Register
      </button></a>
  </section>
</main>
<%- include('partials/footer.ejs') %>