<%- include('partials/header.ejs') %>
<main>
  <form action="/users/register" method="POST">
    <div>
      <% if(error){ %>
      Error: <p><%= error %></p>
      <% } %>
      <label for="first">First Name: </label>
      <input type="text" name="first_name" placeholder="First Name..." id="first">
    </div>
    <div>
      <label for="last">Last Name: </label>
      <input type="text" name="last_name" placeholder="Last Name..." id="last">
    </div>
    <div>
      <label for="location">Location: </label>
      <input type="text" name="location" placeholder="Location..." id="location">
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="email" name="email" placeholder="Email..." id="email">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="Password..." id="password">
    </div>
    <button type="submit">Submit</button>
  </form>
</main>
<%- include('partials/footer.ejs') %>