<!DOCTYPE html>
<html>

<head>
  <title>Users</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div>
    <a href="/users/login">Login</a>
  </div>
  <div>
    <a href="/users/register">Register</a>
  </div>
</body>

</html>